.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
tsconfig.json
esbuild.js
**/*.map
**/*.ts
!**/*.d.ts
coverage/**
.nyc_output/**
*.md
!README.md
!resources/instructions/*.md
.git/**
.github/**
.memvid/**
**/*.vsix
